* {
    font-family: 'Roboto', sans-serif;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 64px;
}

#content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
    margin-top: 10px;
}