<mat-toolbar color="primary">
    <span>TwitterHashtagsCounter</span>
</mat-toolbar>


<div id="content">

    <form class="form">
        <div [formGroup]="searchHashtagFG">
            <mat-form-field>
                <input type="text" matInput placeholder="Hashtag" formControlName="hashtag" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="searchAndCount()"
                [disabled]="!searchHashtagFG.value.hashtag">Search and count</button>
    </form>


    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>


    <div *ngIf="haveToShowResults">
        <mat-list>
            <mat-list-item *ngFor="let tweet of structeredTweets">
                <img matListAvatar src="{{tweet.profile_image_url_https}}"
                     alt="{{tweet.screen_name}}" />
                <h3 matLine>{{tweet.screen_name}}</h3>
                <span matLine>{{tweet.count}}</span>
            </mat-list-item>
        </mat-list>
    </div>

</div>
