* {
    font-family: 'Roboto', sans-serif;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 64px;
}

#content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
    margin-top: 10px;
}


@media screen and (min-width: 960px) {
    .form {
        height: auto;
        width: 52%;
        margin: 30px auto;
        padding: 3em 2em 2em 2em;
        background: #fafafa;
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    }

    mat-progress-bar {
        width: calc(52% + 2em);
        margin: -30px auto auto auto;
    }

    mat-list{
        width: 52%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 959px) {
    .form {
        width: 70%;
        height: auto;
        margin: 30px auto;
        padding: 3em 1em 2em 1em;
        background: #fafafa;
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    }

    mat-progress-bar {
        width: 70%;
        margin: -30px auto auto auto;
    }

    form button {
        margin-top: 5px;
    }
}

mat-form-field {
    width: 100%;
}

