<mat-toolbar color="primary">
    <span>TwitterHashtagsCounter</span>
</mat-toolbar>


<div id="content">

    <div class="form">
        <div [formGroup]="searchHashtagFG">
            <mat-form-field>
                <input type="text" matInput placeholder="Hashtag" formControlName="hashtag" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="searchAndCount()">Search and count</button>
    </div>
    

    <div class="PostsList">

    </div>
    
</div>
