<mat-toolbar color="primary">
    <span>TwitterHashtagsCounter</span>
</mat-toolbar>


<div id="content">

    <form class="form">
        <div [formGroup]="searchHashtagFG">
            <mat-form-field>
                <input type="text" matInput placeholder="Hashtag" formControlName="hashtag" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="searchAndCount()"
                [disabled]="!searchHashtagFG.value.hashtag">Search and count</button>
    </form>


    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>


    <div *ngIf="haveToShowResults">
        <div *ngFor="let key of getKeys(structeredTweets)">

            <mat-list>
                <mat-list-item>
                    <img matListAvatar src="{{structeredTweets[key].profile_image_url_https}}" 
                         alt="{{structeredTweets[key].screen_name}}"/>
                    <h3 matLine>{{structeredTweets[key].screen_name}}</h3>
                    <span matLine>{{structeredTweets[key].count}}</span>
                </mat-list-item>
            </mat-list>

        </div>
    </div>

</div>
